body {
    padding: 0;
    margin: 0;
    font-family: bilo, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: #303648;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

strong {
    font-weight: bolder !important;
}

@mixin aspect-ratio($width, $height) {
    position: relative;
    background-size: cover;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.title {
    font-family: ivypresto-display, serif;
    font-weight: 400;
    font-style: normal;
}

.btn {
    display: inline-block;
    position: relative;
    border: 1px solid #4ed8d3 !important;
    padding: 10px 35px !important;
    text-decoration: none;
    color: #303648;
    &:after {
        transition: all linear 0.2s;
        content: "";
        pointer-events: none;
        display: inline-block;
        position: absolute;
        top: -7px;
        left: 7px;
        width: calc(100% - 14px);
        height: calc(100% + 14px);
        margin: auto;
        border: 1px solid #4ed8d3;
    }
    &:hover {
        color: #4ed8d3;
        &:after {
            left: -7px;
            width: calc(100% + 14px);
        }
    }
}

.specialColor {
    color: #4ed8d3 !important;
}

.container {
    max-width: 1220px;
    margin: auto;
    padding: 0 20px;
}

.hamburger {
    padding: 0;
    .hamburger-box,
    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
        width: 25px;
    }
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        background: #303648;
    }
    .hamburger-inner::before {
        top: -7px;
    }
    .hamburger-inner::after {
        bottom: -7px;
    }
    @media (min-width: 1200px) {
        display: none;
    }
}

header {
    transition: all linear 0.35s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #fff;
    padding: 25px 15px;
    border-bottom: 1px solid #c7c7c7;
    .logoHeader {
        .logoColor {
            display: block;
            @media (min-width: 1200px) {
                display: none;
            }
        }
        .logoWhite {
            display: none;
            @media (min-width: 1200px) {
                display: block;
            }
        }
    }
    .mainNav {
        ul {
            margin: 0;
        }
        //MOBILE MENU
        @media (max-width: 1199px) {
            transition: all linear 0.35s;
            overflow: auto;
            position: fixed;
            top: 80px;
            left: 1210px;
            width: 100%;
            height: calc(100vh - 75px);
            z-index: 3;
            box-shadow: 0 3px 5px rgba(48, 54, 72, 0.36);
            background-color: #303648;
            color: #fff;
            ul {
                padding: 0 20px;
                list-style: none;
                li {
                    border-bottom: solid 1px #9b9b9b;
                    a {
                        color: inherit;
                        text-decoration: none;
                        display: block;
                        padding: 10px 15px;
                    }
                }
                .btn {
                    margin-top: 30px;
                    padding: 0 !important;
                    a {
                        color: #fff !important;
                        padding: 7px 15px !important;
                    }
                }
                .menu-item-has-children {
                    a {
                        &:first-child {
                            &:after {
                                content: "\f107";
                                margin-left: 10px;
                                color: #4ed8d3;
                                font: normal normal normal 14px/1 FontAwesome;
                            }
                        }
                    }
                    ul {
                        padding: 0 20px 20px 20px;
                        li {
                            opacity: 0.4;
                            border: 0;
                            a {
                                padding: 5px 15px;
                                &:after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        // DESKTOP MENU
        @media (min-width: 1200px) {
            width: 60%;
            font-size: 18px;
            color: #fff;
            ul {
                padding: 0;
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                li {
                    position: relative;
                    padding: 0 20px;
                    a {
                        transition: all linear 0.2s;
                        text-decoration: none;
                        color: inherit;
                        padding: 15px 0;
                        &:hover {
                            color: #4ed8d3;
                        }
                    }
                    @media (min-width: 1400px) {
                        padding: 0 35px;
                    }
                }
                .btn {
                    color: inherit;
                }
                .menu-item-has-children {
                    a {
                        &:first-child {
                            &:after {
                                content: "\f107";
                                margin-left: 10px;
                                color: #4ed8d3;
                                font: normal normal normal 14px/1 FontAwesome;
                            }
                        }
                    }
                    ul {
                        font-size: 16px;
                        transition: all linear 0.35s;
                        display: block;
                        opacity: 0;
                        pointer-events: none;
                        position: absolute;
                        top: 40px;
                        left: 0;
                        width: 100%;
                        background: #fff;
                        box-shadow: 0 3px 5px rgba(48, 54, 72, 0.36);
                        background-color: #ffffff;
                        padding: 15px;
                        li {
                            padding: 0;
                            border-bottom: solid 1px #9b9b9b;
                            a {
                                transition: all linear 0.15s;
                                display: block;
                                color: #323641;
                                padding: 15px 0;
                                &:hover {
                                    color: #4ed8d3;
                                }
                                &:after {
                                    display: none;
                                }
                            }
                            &:last-child {
                                border: 0;
                            }
                        }
                    }
                    &:hover {
                        ul {
                            opacity: 1;
                            pointer-events: all;
                        }
                    }
                }
            }
        }
    }
    .mainNav--visible {
        left: 0;
    }
    @media (min-width: 1200px) {
        background: rgba(255, 255, 255, 0);
        border: 0;
    }
}

.headerWhite {
    background: rgba(255, 255, 255, 100);
    border-bottom: solid 1px #efefef;
    .logoHeader {
        .logoColor {
            display: block !important;
        }
        .logoWhite {
            display: none !important;
        }
    }
    .mainNav {
        @media (min-width: 1200px) {
            color: #303648;
        }
    }
}

.header--mini {
    padding: 20px 15px;
    background: rgba(255, 255, 255, 100);
    border-bottom: solid 1px #efefef;
    .logoHeader {
        .logoColor {
            display: block;
        }
        .logoWhite {
            display: none;
        }
    }
    .mainNav {
        top: 70px;
        color: #fff;
        @media (min-width: 1200px) {
            color: #303648;
        }
    }
}

.cover {
    padding-top: 80px;
    background-color: #303648;
    color: #fff;
}

// HOME

.coverHome {
    .coverImageHome {
        @include aspect-ratio(375, 200);
        @media (min-width: 768px) {
            width: 45%;
            @include aspect-ratio(655, 775);
        }
        @media (min-width: 1200px) {
            width: 40%;
        }
    }
    .coverTextHome {
        padding: 35px 25px;
        max-width: 590px;
        margin-right: auto;
        margin-left: auto;
        h1 {
            width: 100%;
            font-size: 36px;
            margin: 0;
            @media (min-width: 1024px) {
                font-size: 52px;
            }
        }
        h2 {
            width: 100%;
            font-size: 16px;
            line-height: 1.8;
            @media (min-width: 1024px) {
                font-size: 22px;
            }
        }
        .learnMoreCoverHome {
            display: inline-block;
            margin-top: 10vh;

            color: #fffefe;
            font-size: 15px;
            font-weight: 300;
            text-align: left;
            text-transform: uppercase;
            text-decoration: none;
            i {
                color: #4ed8d3;
                margin-right: 20px;
            }
        }
        @media (min-width: 768px) {
            width: 55%;
            padding: 25px;
        }
    }

    @media (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    @media (min-width: 1200px) {
        padding-top: 0;
    }
}

.areasHome {
    padding: 70px 0;
    background-color: #303648;
    color: #fff;
    .areasHomeWrapper {
        .areaHome {
            max-width: 320px;
            margin: 40px auto;
            .title {
                position: relative;
                font-size: 32px;
                margin: 0;
                padding-left: 20px;

                &:before {
                    position: absolute;
                    content: "";
                    display: block;
                    top: 0;
                    left: 0;
                    width: 2px;
                    height: 100%;
                    background: #4ed8d3;
                }
                @media (min-width: 1024px) {
                    font-size: 36px;
                }
            }
            p {
                padding-left: 20px;
                line-height: 2;
            }
            a {
                display: inline-block;
                margin-left: 20px;
                color: #fff;
                text-decoration: none;
                i {
                    color: #4ed8d3;
                }
            }

            @media (min-width: 1024px) {
                width: calc(33% - 40px);
            }
        }
        @media (min-width: 768px) {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
    }
}

.whyChoseHome {
    background: linear-gradient(
        180deg,
        rgba(48, 54, 72, 1) 35px,
        rgba(255, 255, 255, 1) 35px
    );
    .whyChoseHomeImage {
        width: 80%;
        max-width: 990px;
        margin-left: auto;
        @include aspect-ratio(325, 145);
        background-position: center center;
        @media (min-width: 768px) {
            @include aspect-ratio(990, 280);
        }
    }
    .container {
        padding: 0;
        .whyChoseHomeSplit {
            .whyChoseHomeSplitImage {
                margin-top: 55px;
                width: 80%;
                @include aspect-ratio(265, 190);
                background-position: center top;
                @media (min-width: 768px) {
                    margin-top: 55px;
                    width: 45%;
                    @include aspect-ratio(485, 310);
                }
            }
            .whyChoseHomeSplitText {
                max-width: 550px;
                padding: 0 30px;
                margin-top: 40px;
                font-size: 16px;
                line-height: 1.8;
                .title {
                    font-size: 36px;
                    color: #303648;
                    margin: 0;
                    @media (min-width: 1024px) {
                        font-size: 48px;
                    }
                }
                .whyChoseHomeSplitTextLearnMore {
                    text-decoration: none;
                    color: inherit;
                    i {
                        color: #4ed8d3;
                    }
                }
                @media (min-width: 768px) {
                    width: 55%;
                }
                @media (min-width: 1024px) {
                    font-size: 18px;
                }
            }
            &:nth-child(2) {
                .whyChoseHomeSplitImage {
                    margin-left: auto;
                }
                @media (min-width: 768px) {
                    flex-direction: row-reverse;
                }
            }
            @media (min-width: 768px) {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        @media (min-width: 768px) {
            padding-top: 30px;
        }
        @media (min-width: 1024px) {
            padding-top: 100px;
        }
    }
}

.blogPosts {
    padding: 90px 0;
    .container {
        text-align: center;
    }
    .blogPostsTitle {
        max-width: 190px;
        margin: auto;
        margin-bottom: 90px;
        text-align: center;
        font-size: 36px;
        @media (min-width: 768px) {
            max-width: 100%;
        }
        @media (min-width: 1024px) {
            font-size: 48px;
        }
    }
    .blogPostsWrapper {
        .blogPost {
            transition: all linear 0.35s;
            display: inline-block;
            margin: 0 10px;
            border: 1px solid #303648;
            padding: 0 30px 30px;
            margin-bottom: 90px;
            color: #303648;
            a {
                text-decoration: none;
                color: inherit;
            }
            .blogPostImage {
                @include aspect-ratio(240, 195);
                position: relative;
                top: -40px;
            }
            .postDate {
                margin: 0;
                font-size: 13px;
            }
            .postTitle {
                margin: 0;
                margin-top: 20px;
                font-size: 24px;
                font-weight: 400;
            }
            .postIntro {
                margin: 0;
                margin-top: 30px;
            }
            .postLink {
                display: block;
                margin-top: 40px;
                text-decoration: none;
                i {
                    color: #4fd6d0;
                }
            }
            &:hover {
                background: #303648;
                color: #fff;
            }
            @media (min-width: 768px) {
                width: 30%;
            }
        }
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
    }
    .btn {
        font-size: 18px;
    }
    .loadMorePostsBlog {
        text-decoration: none;
        color: #303648;
        font-size: 18px;
        i {
            color: #4fd6d0;
        }
    }
    @media (min-width: 768px) {
        padding: 120px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.featuredHome {
    background-color: #fbfbfb;
    padding: 50px 0;
    .container {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .title {
        position: relative;
        font-size: 36px;
        margin: 15px;
        padding-left: 20px;
        white-space: nowrap;
        &:before {
            position: absolute;
            content: "";
            display: block;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background: #4ed8d3;
        }
        @media (min-width: 768px) {
            font-size: 40px;
        }
    }
    .logos {
        text-align: center;
        img {
            margin: 20px;
            opacity: 0.5;
            filter: grayscale(100%);
        }
    }
}

footer {
    position: relative;
    background: #303648;
    color: #fff;
    padding-bottom: 30px;
    .footerCta {
        padding: 30px 0;
        .container {
            padding-bottom: 30px;
            border-bottom: solid 1px #5a5e6a;
            text-align: center;
            @media (min-width: 768px) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .title {
            font-size: 24px;
            margin: 15px;
        }
        a {
            margin: 15px;
            font-size: 24px;
            text-decoration: none;
            color: inherit;
            i {
                font-size: 18px;
                color: #4ed8d3;
            }
        }
    }
    .footerMain {
        text-align: center;
        .container {
            @media (min-width: 1024px) {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
            }
        }
        .footerLogo {
            margin-bottom: 50px;
            @media (min-width: 1024px) {
                margin-bottom: 0;
                margin-right: 25px;
            }
        }
        address {
            text-align: left;
            font-style: normal;
            .address,
            .phone {
                position: relative;
                margin: 25px;
                padding-left: 20px;
                line-height: 1.5;
                a {
                    color: inherit;
                    text-decoration: none;
                }
                &:before {
                    position: absolute;
                    content: "";
                    display: block;
                    top: 0;
                    left: 0;
                    width: 2px;
                    height: 100%;
                    background: #4ed8d3;
                }
            }
            @media (min-width: 768px) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .legalTerms {
            font-size: 12px;
            color: #6c7286;
            text-align: left;
            margin-left: 25px;
            a {
                color: inherit;
                text-decoration: none;
                display: block;
                margin-bottom: 20px;
                @media (min-width: 768px) {
                    display: inline-block;
                    margin-right: 20px;
                }
            }
            @media (min-width: 768px) {
                text-align: center;
                margin-top: 30px;
            }
            @media (min-width: 1024px) {
                width: 100%;
            }
        }
    }
    .dpNav {
        position: absolute;
        bottom: 20px;
        right: 10px;
    }
}

// 404
.page404 {
    padding-top: 80px;
    .page404image {
        @include aspect-ratio(375, 200);
        width: 100%;
        background-position: center center;
        @media (min-width: 768px) {
            min-height: 80vh;
            width: 50%;
            @include aspect-ratio(915, 755);
        }
    }
    .page404text {
        margin: auto;
        padding: 50px;
        text-align: center;
        .title {
            font-size: 80px;
            margin: 0;
            @media (min-width: 1024px) {
                font-size: 104px;
            }
        }
        p {
            font-size: 22px;
            margin-top: 0;
            @media (min-width: 1024px) {
                font-size: 32px;
            }
        }
        @media (min-width: 768px) {
            text-align: left;
        }
    }
    @media (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

// BLOG
.blogPage {
    padding-top: 50px;
    .noPosts {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
    .blogPostsTitle {
        margin-bottom: 50px;
    }
    .blogPageForms {
        max-width: 500px;
        margin: auto;
        margin-bottom: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        .searchWrapper {
            position: relative;
            width: calc(50% - 20px);
            margin: 10px;
            input {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                width: 100%;
                border: 0;
                border-radius: 0 !important;
                border-bottom: solid 1px #303648;
                padding: 10px 15px;
                font-family: bilo, sans-serif;
                font-size: 16px;
            }
            button {
                position: absolute;
                top: 10px;
                right: 15px;
                background: none;
                padding: 0;
                color: #5bd8d3;
                font-size: 18px;
                border: 0;
                cursor: pointer;
            }
        }
        .selectWrapper {
            position: relative;
            width: calc(50% - 20px);
            margin: 10px;
            background: none;
            select {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                width: 100%;
                background: none;
                border: solid 1px #303648;
                border-radius: 0;
                padding: 10px 15px;
            }
            &:after {
                display: inline-block;
                position: absolute;
                top: 13px;
                right: 10px;
                content: "\f107";
                font: normal normal normal 14px/1 FontAwesome;
                color: #5bd8d3;
            }
        }
    }
}

//SINGLE POST
.singlePost {
    padding-top: 100px;
    .backLink {
        text-decoration: none;
        color: inherit;
        margin-bottom: 30px;
        i {
            color: #4fd6d0;
        }
    }
    .singlePostContent {
        max-width: 880px;
        margin: auto;
        .singlePostTitle {
            text-align: center;
            margin-bottom: 50px;
            .title {
                font-size: 40px;
            }
            .postTitleInfo {
                font-size: 18px;
                .postTitleInfoCategory {
                    display: inline-block;
                    color: #4fd6d0;
                    font-weight: bolder;
                }
            }
        }
        .singlePostMain {
            position: relative;
            border: 1px solid #303648;
            padding: 30px;
            margin-bottom: 80px;
            .blogPostImage {
                width: calc(100% - 60px);
                max-width: 725px;
                margin: auto;
                @include aspect-ratio(735, 415);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: auto;
                transform: translate(0, -50%);
            }
            .postContent {
                max-width: 725px;
                margin: auto;
                font-size: 18px;
                line-height: 1.8;
            }
            .postNav {
                margin: 60px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                .next_post_link,
                .previous_post_link {
                    margin: 10px;
                    a {
                        color: inherit;
                        text-decoration: none;
                    }

                    i {
                        color: #4fd6d0;
                    }
                }
                @media (min-width: 768px) {
                    justify-content: flex-end;
                }
            }
        }
    }
}

// PRACTICE AREAS PAGE
.practiceAreasPage {
    .practiceAreasCover {
        padding: 75px 0;
        @media (min-width: 1024px) {
            padding: 150px 0 80px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
        .practiceAreasCoverImage {
            width: 80%;
            @include aspect-ratio(310, 200);
            @media (min-width: 768px) {
                @include aspect-ratio(700, 355);
            }
            @media (min-width: 1024px) {
                width: 50%;
            }
            @media (min-width: 1200px) {
                width: 40%;
            }
        }
        .practiceAreasCoverText {
            padding: 30px;
            line-height: 1.8;
            max-width: 600px;
            margin: 0 auto;
            .title {
                margin: 0;
                font-size: 36px;
            }
            p {
                font-size: 18px;
            }
            @media (min-width: 1024px) {
                width: 50%;
                padding-top: 0;
            }
            @media (min-width: 1200px) {
                width: 60%;
                margin: auto;
            }
        }
    }
    .practiceAreaMain {
        background: linear-gradient(180deg, #303648 35px, #fff 35px);
        .container {
            padding: 0;
            @media (min-width: 768px) {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
            }
        }
        .practiceAreaMainText {
            max-width: 500px;
            margin: auto;
            font-size: 18px;
            padding: 50px 30px;
            .title {
                font-size: 36px;
            }
            .hiddenContent {
                display: none;
                opacity: 0;
                transition: all linear 0.5s;
            }
            a {
                color: inherit;
                text-decoration: none;
                i {
                    color: #4fd6d0;
                }
            }
            @media (min-width: 768px) {
                width: 50%;
            }
        }
        .practiceAreaMainImage {
            @include aspect-ratio(485, 445);
            @media (min-width: 768px) {
                width: 50%;
            }
        }
    }
}

// ATTORNEYS PAGE
.ourAttorneysPage {
    .attorneysCover {
        padding: 80px 0 50px;
        .container {
            padding: 0;
            @media (min-width: 768px) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row-reverse;
            }
        }
        .attorneysCoverImage {
            width: 90%;
            margin-left: auto;
            @include aspect-ratio(345, 265);
            @media (min-width: 768px) {
                margin-top: 40px;
                width: 50%;
                @include aspect-ratio(475, 500);
            }
        }
        .attorneysCoverText {
            position: relative;
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 30px;
            padding-left: 20px;
            font-size: 18px;
            line-height: 1.5;
            .title {
                margin: 0;
                font-size: 36px;
                @media (min-width: 1024px) {
                    font-size: 56px;
                }
            }
            p {
                margin-bottom: 0;
            }
            &:before {
                position: absolute;
                content: "";
                display: block;
                top: 0;
                left: 0;
                width: 2px;
                height: 100%;
                background: #4ed8d3;
            }
            @media (min-width: 768px) {
                width: 50%;
                margin-left: 30px;
                margin-bottom: 90px;
                margin-top: 50px;
                margin-right: 30px;
            }
        }
        @media (min-width: 768px) {
            padding-bottom: 0;
            background: linear-gradient(0deg, #fff 35px, #303648 35px);
        }
        @media (min-width: 1200px) {
            padding-top: 120px;
        }
    }
    .attorneysPracticeAreas {
        .container {
            padding: 0;
            @media (min-width: 768px) {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        .attorneysPracticeAreasImage {
            width: 85%;
            @include aspect-ratio(305, 225);
            @media (min-width: 768px) {
                position: relative;
                top: 30px;
                width: 50%;
                @include aspect-ratio(480, 400);
            }
        }
        .attorneysPracticeAreasText {
            padding: 60px 30px;
            line-height: 1.5;
            .title {
                font-size: 36px;
                margin: 0;
                @media (min-width: 1024px) {
                    font-size: 48px;
                }
            }
            a {
                text-decoration: none;
                color: inherit;
                i {
                    color: #4ed8d3;
                }
            }
            @media (min-width: 768px) {
                width: 50%;
                margin-bottom: 60px;
            }
        }
        @media (min-width: 768px) {
            padding-top: 60px;
            background: linear-gradient(1800deg, #303648 35px, #fff 35px);
        }
    }
    .attorneysTeam {
        background: #303648;
        color: #fff;
        padding: 50px 0;
        .title {
            text-align: center;
            font-size: 36px;
            @media (min-width: 1024px) {
                font-size: 42px;
            }
        }
        .attorneysTeamWrapper {
            .attorneysTeamMember {
                a {
                    padding: 10px 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: inherit;
                    text-decoration: none;
                    @media (min-width: 768px) {
                        display: block;
                    }
                    @media (min-width: 1024px) {
                        display: flex;
                    }
                }

                .attorneysTeamMemberImage {
                    width: 90px;
                    margin: auto;
                    @include aspect-ratio(90, 90);
                }
                .attorneysTeamMemberText {
                    width: calc(100% - 110px);
                    .attorneysTeamMemberName {
                        font-size: 20px;
                        text-align: left;
                    }
                    .attorneysTeamMemberProfile {
                        font-size: 14px;
                        text-align: left;
                        font-style: italic;
                    }
                    span {
                        display: block;
                        margin-top: 15px;
                        font-size: 14px;
                        i {
                            color: #4ed8d3;
                        }
                    }
                    @media (min-width: 768px) {
                        width: 100%;
                    }
                    @media (min-width: 1024px) {
                        width: calc(100% - 110px);
                    }
                }
                @media (min-width: 768px) {
                    width: 33%;
                }
            }
            @media (min-width: 768px) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }
        @media (min-width: 768px) {
            padding: 80px 0;
        }
    }
    .attorneysEnd {
        .attorneysEndText {
            max-width: 500px;
            margin-left: auto;
            padding: 30px;
            line-height: 1.8;
            .title {
                font-size: 36px;
                margin-bottom: 0;
                @media (min-width: 1024px) {
                    font-size: 48px;
                }
            }
            @media (min-width: 768px) {
                width: 60%;
            }
        }
        .attorneysEndImage {
            width: 85%;
            margin-left: auto;
            @include aspect-ratio(305, 255);
            @media (min-width: 768px) {
                width: 40%;
            }
        }
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
}

// SINGLE ATTORNEY
.singleAttorney {
    .singleAttorneyCover {
        padding: 75px 0;
        .container {
            @media (min-width: 768px) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row-reverse;
            }
        }
        .singleAttorneyCoverImage {
            max-width: 70%;
            margin: 0 auto;
            margin-bottom: 40px;
            @include aspect-ratio(230, 265);
            @media (min-width: 768px) {
                max-width: 475px;
                margin-bottom: 0;
                width: 40%;
            }
        }
        .singleAttorneyCoverText {
            .singleAttorneyCoverTextAttorneyInfo {
                margin-bottom: 25px;
                .title {
                    margin: 0;
                    display: inline-block;
                    font-style: italic;
                    font-size: 20px;
                }
                .singleAttorneyCoverTextAttorneyName {
                    font-size: 36px;
                    display: block;
                }
                a {
                    color: inherit;
                    text-decoration: none;
                    margin-left: 5px;
                }
                @media (min-width: 1200px) {
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -20px;
                        width: 1px;
                        height: 100%;
                        background: #4fd6d0;
                    }
                }
            }
            .singleAttorneyCoverTextContent {
                line-height: 1.5;
            }
            @media (min-width: 768px) {
                width: 60%;
                padding: 30px;
                margin-bottom: 50px;
            }
            @media (min-width: 1200px) {
                margin-right: 50px;
            }
        }
        @media (min-width: 768px) {
            padding-bottom: 0;
            background: linear-gradient(0deg, #fff 35px, #303648 35px);
        }
        @media (min-width: 1024px) {
            padding-top: 120px;
        }
    }
    .attorneyResume {
        padding: 60px 0;
        .container {
            line-height: 1.8;
            p {
                margin-top: 0;
                marging-bottom: 15px;
            }
            @media (min-width: 768px) {
                column-count: 2;
                column-gap: 50px;
            }
        }
        @media (min-width: 1200px) {
            padding: 90px 0 50px;
        }
    }
    .attorneyAccreditations {
        padding: 50px 0;
        background-color: #fbfbfb;
        .container {
            @media (min-width: 768px) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .title {
            position: relative;
            font-size: 36px;
            margin: 0;
            padding-left: 20px;
            margin-bottom: 30px;
            &:before {
                position: absolute;
                content: "";
                display: block;
                top: 0;
                left: 0;
                width: 2px;
                height: 100%;
                background: #4ed8d3;
            }
            @media (min-width: 768px) {
                margin-bottom: 0;
                margin-right: 30px;
            }
            @media (min-width: 1024px) {
                font-size: 40px;
            }
        }
        .accreditationsLogos {
            text-align: center;
            img {
                filter: grayscale(100%);
                opacity: 0.5;
                width: 70px;
                margin: 20px;
            }
        }
    }
    .otherAttorneys {
        padding: 50px 0;
        .title {
            text-align: center;
            font-size: 36px;
        }
        .otherAttorneysWrapper {
            .otherAttorney {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 15px;
                .otherAttorneyImage {
                    width: 110px;
                    @include aspect-ratio(114, 114);
                }
                .otherAttorneyText {
                    width: calc(100% - 130px);
                    .title {
                        text-align: left;
                        margin: 0;
                        font-size: 18px;
                        @media (min-width: 768px) {
                            font-size: 24px;
                            white-space: nowrap;
                        }
                    }
                    .otherAttorneyRole {
                        font-style: italic;
                        margin-bottom: 10px;
                        @media (min-width: 768px) {
                            font-size: 18px;
                            white-space: nowrap;
                        }
                    }
                    a {
                        white-space: nowrap;
                        color: inherit;
                        text-decoration: none;
                        i {
                            color: #4ed8d3;
                        }
                    }
                }
                @media (min-width: 768px) {
                    margin: 15px 25px;
                }
                @media (min-width: 1024px) {
                    margin: 15px 40px;
                }
            }
            @media (min-width: 768px) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

// CONTACT PAGE
.contactPage {
    padding-top: 75px;
    .contactPageImage {
        @include aspect-ratio(375, 285);
        background-position: center center;
        @media (min-width: 768px) {
            min-height: 80vh;
            width: 50%;
            @include aspect-ratio(655, 775);
        }
        @media (min-width: 1200px) {
            min-height: 50vh;
        }
    }
    .contactPageText {
        max-width: 480px;
        margin: auto;
        padding: 30px;
        line-height: 1.8;
        .title {
            margin: 0;
            font-size: 48px;
        }
        @media (min-width: 768px) {
            width: 50%;
        }
    }
    .contactPageFormWrapper {
        fieldset {
            border: 0;
            padding: 0;
            input,
            textarea {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                width: 100%;
                display: block;
                padding: 10px 0;
                margin-bottom: 10px;
                border: 0;
                border-radius: 0;
                border-bottom: solid 2px #303648;
                font-family: ivypresto-display, serif;
                color: #303648;
                font-size: 18px;
                &::placeholder {
                    opacity: 1;
                    color: #303030;
                }
            }
            .frm_submit {
                text-align: right;
            }
            .btn {
                margin-top: 20px;
                margin-left: auto;
                background: none;
                font-family: bilo, sans-serif;
                font-size: 16px;
            }
        }
    }
    @media (min-width: 768px) {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }
}
